.bubble_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.bubble {
  @apply absolute flex h-28 w-28 cursor-pointer items-center justify-center rounded-full border-4 border-black bg-blue-300 text-center font-semibold dark:border-blue-700 dark:text-black;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
}

.bubble:hover {
  animation: bubble_animation 2s linear infinite;
}

@keyframes bubble_animation {
  0%{
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50%{
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100%{
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.bubble.main {
  top: 50%;
  left: 50%;
}

.mbti {
  top: 20%;
  left: 50%;
}

.pet {
  top: 35%;
  left: 63%;
}

.company {
  top: 65%;
  left: 36.5%;
}

.food {
  top: 50%;
  left: 25%;
}

.sport {
  top: 35%;
  left: 36.5%;
}

.film {
  top: 65%;
  left: 63%;
}

.music {
  top: 50%;
  left: 75%;
}

.trait {
  top: 80%;
  left: 50%;
}
