.toggle_label {
  width: 40px;
  height: 20px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow:
    inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.toggle_label:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.toggle_input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.toggle_input:checked + .toggle_label {
  background: #242424;
}
.toggle_input:checked + .toggle_label:after {
  left: 40px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.toggle_label,
.toggle_label:after {
  transition: 0.5s;
}

.toggle_label:active:after {
  width: 20px;
}
