.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 620px;
  height: 345px;
  @apply max-sm:h-[225px] max-sm:w-[400px] max-[480px]:h-[200px] max-[480px]:w-[350px];
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
